*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 5, 63);
    
     /* display: flex;
     justify-content: center;
     align-items: center; */
     color: #fff;


}



.center-div{
    background-color: rgb(5, 5, 63);

    width: 50%;
    height: 70%;
    /* background-color: aliceblue; */
    margin: auto;
    margin-top: 15vh;
    
}

.text{
    padding-top: 10%;
}


#inputvalue{
    font-size: 150%;
}

.output{
    padding-top: 2%;
}

.random{
    text-decoration: none;
    border-bottom: 6px solid green;
    color: green;
    
}

.output{
    padding-top: 5%;
}
.output input{
    width: 55%;
    height: 15%;
    border-radius:7px ;
}

button{
    background-color: green;
    margin-top: 5%;
    width: 25%;
    height: 10%;
    border-radius: 7px;
    color: #fff;
}

footer{
    position: fixed;
    bottom: 20;
    width: 100%;
    text-align: center;

}

@media only screen and (max-width:767px){
    /* body{
    } */
    .center-div{
        /* margin: 0; */
        height: 90%;
        width: 90%;
        margin-top: 5%;

    }
    .text{
        padding-top: 20%;
    }

    .output{
        padding-top: 10%;
    }
    .output input{
        width: 90%;
        height: 10%;
        border-radius:7px ;
    }


    button{
        margin-left: 15%;
        margin-top: 14%;
        width: 60%;
        height: 10%;
        border-radius: 20px;
    }

    .center-div{
        padding-left: 5%;
    }
}